.z-textbox-focus { 
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    color : #000000 !important;
    background-repeat : no-repeat;
}

.z-toolbar{
 background:#cdcdcd repeat-x 0 0;
 padding-top:7px;
}

.z-decimalbox {
    text-align:right;
}